<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="danger">
      入力エラーが<%= object.errors.count %>つあります。
    </div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>