<div id="show-reservation">
    <div id="reservation">
        <p>
            <span>予約した部屋</span>
            <%= p "ルーム" %>
        </p>
        <p>
            <span>開始日</span>
            <%= p "2021年06月22日" %>
        </p>
        <p>
            <span>終了日</span>
            <%= p "2021年06月22日" %>
        </p>
        <p>
            <span>価格</span>
            <%= p "10000円" %>
        </p>
    </div>
</div>