/* common */

body {
    position: relative;
    min-height: 100vh;
    padding-bottom: 180px;
}
a {
    text-decoration: none;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.flex-align-start {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
input[type="submit"], button {
    color: #fff;
    background-color: #4a90e2;
    border: none;
    cursor: pointer;
}

ul {
    list-style: none;
    margin: 0;
}

.side-menu {
    width: 17%;
    margin: 0 0 0 auto;
    padding: 30px 15px;
    .active {
        font-size: 18px;
        padding: 5px 20px 5px 40px;
        border-right: 3px solid #4a90e2;
        cursor: pointer;
        a {
            text-decoration: none;
            color: #4a90e2;
        }
    }
    .non-active {
        font-size: 18px;
        padding: 5px 20px 5px 40px;
        cursor: pointer;
        a {
            text-decoration: none;
            color: #000;
        }
        a:hover {
            color: #4a90e2;
        }
    }
}

.update-content {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    border-bottom: 1px solid #eaedef;
    input[type="submit"] {
        width: 130px;
        height: 35px;
        border-radius: 4px;
    }
    img {
        width:70px;
        height:70px;
        object-fit:cover;
        border-radius:50%;
        margin: 0 auto;
    }
    a {
        color: #fff;
        background-color: #4a90e2;
        border: none;
        padding: 10px 45px;
        cursor: pointer;
        border-radius: 3px;
    }
}

.label {
    width: 25%;
}

.form {
    width: 83%;
    border-left: 2px solid #e2e2e2;
    background-color: #F6F8F9;
    form {
        background-color: #fff;
        max-width: 880px;
        margin: 50px auto;
        padding: 15px;
        p {
            font-size: 20px;
            padding: 20px;
            border-bottom: 1px solid #eaedef;
        }
        input[type="text"], input[type="number"], textarea {
            margin-bottom: 30px;
            width: 75%;
            border: 1px solid #ced4da;
            border-radius: 5px;
            padding-left: 15px;
        }
        input[type="text"], input[type="number"] {
            height: 40px;
        }
        textarea {
            height: 150px;
        }
        input[type="file"] {
            margin-bottom: 30px;
        }
        input[type="submit"] {
            height: 40px;
        }
        span {
            color: #fff;
            background-color: #ff0000a8;
            font-size: 12px;
            border-radius: 5px;
            padding: 4px;
            margin: 0 5px;
        }
    }
}

/* error */

#error_explanation {
    width: 80%;
    margin: 0 auto;
    ul {
        border: 3px solid #f00;
        padding: 10px;
        margin-bottom: 10px;
    }
}

.danger {
    background-color: #f00;
    color: #fff;
}

.field_with_errors {
    width: 100%;
    input, textarea {
        background-color: #FFABCE;
    }
}

@media screen and (max-width: 959px) {
    .side-menu {
        width: 300px;
        margin: 0;
        padding: 30px 30px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .active {
            font-size: 18px;
            padding: 0;
            border-right: none;
            border-bottom: 3px solid #4a90e2;
            margin: 0 15px;
        }
        .non-active {
            font-size: 18px;
            padding: 0;
            cursor: pointer;
        }
    }
}
