/* common */

body {
    position: relative;
    min-height: 100vh;
    padding-bottom: 180px;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-align-start {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
a {
    text-decoration: none;
    color: #000;
    
}
a:hover {
    color: #888;
}
input[type="submit"] {
    color: #fff;
    background-color: #4a90e2;
    border: none;
    cursor: pointer;
}

ul {
    list-style: none;
    margin: 0;
}