/* index */

.search {
    padding: 30px 60px;
}
#searched-result {
    font-size: 23px;
    margin-bottom: 30px;
    padding-left: 15px;
}
#searched-rooms {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    a div {
        border: 1px solid #e2e2e2;
    }
}
.searched-room-wrap {
    width: 25%;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 10px;
}
.room-info {
    padding: 15px;
    p:first-child {
        font-size: 18px;
        font-weight: bold;
        color: #909090;
        margin-bottom: 1rem;
    }
    p:nth-child(2) {
        font-size: 16px;
        font-weight: bold;
        color: #000;
        margin-bottom: 1rem;
    }
    p:last-child {
        font-size: 16px;
        color: #000;
        margin-bottom: 1rem;
        letter-spacing: 1px;
        text-align: right;
    }
    p:last-child::before {
        content: "￥";
        padding-right: 3px;
    }
}

/* show */

#show {
    padding: 30px 150px;
}
#room-detail {
    width: 66%;
    padding: 0 15px;
    #room-img {
        width: 100%;
        height: auto;
        margin-bottom: 35px;
        img {
            width: 100%;
            height: auto;
        }
    }
    .flex-left {
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        padding-left: 15px;
        margin-bottom: 35px;
        img {
            width:80px;
            height:80px;
            object-fit:cover;
            border-radius:50%;
            margin-right: 30px;
        }
        p:first-child {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 30px;
        }
        p:last-child {
            font-size: 14px;
        }
    }
    #room-introduction {
        padding: 30px 0;
        border-top: 1px solid #eaedef;
        border-bottom: 1px solid #eaedef;
    }
}
#reservation-form {
    width: 33%;
    padding: 0 15px;
    border: 1px solid #eaedef;
    padding: 20px;
    #room-fee {
        font-size: 20px;
        margin-bottom: 15px;
    }
    #room-fee::before {
        content: "￥";
        padding-right: 3px;
    }
    label {
        font-size: 15px;
        letter-spacing: .2em;
    }
    input {
        margin: 10px 0 20px 0;
        width: 100%;
        height: 40px;
        padding: 5px 10px;
        border: 1px solid #ced4da
    }
}

/* new */

.side-menu {
    width: 17%;
    padding: 30px 15px;
    p {
        color: #4a90e2;
        font-size: 18px;
        text-align: right;
        padding: 5px 50px 5px 0;
        border-right: 3px solid #4a90e2;
        cursor: pointer;
    }
}
#rooom-information-registration {
    width: 83%;
    border-left: 2px solid #e2e2e2;
    background-color: #F6F8F9;
    form {
        background-color: #fff;
        max-width: 880px;
        margin: 50px auto;
        padding: 15px;
        p {
            font-size: 20px;
            padding: 20px;
            border-bottom: 1px solid #eaedef;
        }
        .update-content {
            display: flex;
            align-items: flex-start;
            padding: 20px;
            border-bottom: 1px solid #eaedef;
            input[type="submit"] {
                width: 130px;
                height: 35px;
                border-radius: 4px;
            }
        }
        input[type="text"], input[type="number"], textarea {
            margin-bottom: 30px;
            width: 75%;
            border: 1px solid #ced4da;
            border-radius: 5px;
            padding-left: 15px;
        }
        input[type="text"], input[type="number"] {
            height: 40px;
        }
        textarea {
            height: 150px;
        }
        input[type="file"] {
            margin-bottom: 30px;
        }
        span {
            color: #fff;
            background-color: #ff0000a8;
            font-size: 12px;
            border-radius: 5px;
            padding: 4px;
            margin: 0 5px;
        }
        .room-new-label {
            width: 25%;
        }
    }
}
