<header>
    <div class="flex">
        <div class="flex">
            <%= image_tag "logo.png" %>
            <div class="flex">
                <div class="header-search-field">
                    <input type="text" placeholder="エリア">
                    <i class="fas fa-map-marker-alt"></i>
                </div>
                <div class="header-search-field">
                    <input type="text" placeholder="キーワード">
                    <i class="fas fa-search"></i>
                </div>
            </div>
        </div>
        <div>
            <a href="">ログイン</a>
            <a href="">登録する</a>
        </div>
    </div>
</header>